.footer {
    background: #282D39;
    padding: 20px;
    position: sticky;
    top: 100%;

    &__wrapper {
        @include display-flex(space-between);
        max-width: 1350px;
        margin: auto;
        font-size: 1rem;

        & span {
            & a {
                color: $color-vibrantRed;
                text-decoration: none;

                &:hover {
                    color: $color-darkRed;
                }
            }
        }
    }
}