@media (max-width: 900px) {
    .header {
        position: relative;

        &__menu {
            display: none;

            &--item {
                display: none;
            }
        }

        &__hamburger {
            display: block;
        }

        &__mobile {
            display: none;
            position: fixed;
            right: 0;
            top: 77px;
            width: 290px;
            padding-right: 30px;
            max-width: 100%;
            height: 100%;
            border-top: 1px solid $color-white;
            animation-duration: 0.3s;
            z-index: 5;

            &--slideIn {
                display: block;
                animation-name: slideInRight;
              }
              
            &--slideOut {
                display: block;
                animation-name: slideOutRight;
                animation-fill-mode: forwards;
            }
        }

        &__mobileMenu {
            position: absolute;
            left: 0px;
            top: 0px;
            width: 100%;
            height: 100%;
            max-height: 100%;
            overflow-y: auto;
            overflow-x: hidden;
            background-color: #171D22;
            padding: 0px 0px;
            z-index: 5;

            &--list {
                padding-top: 1.5rem;
                flex-direction: column;
            }

            &--item {
                position: relative;
                @include display-flex(flex-start);
                align-items: flex-start;
                flex-direction: column;
                padding: 0;
                width: 100%;

                &::after {
                    content: '';
                    height: 1px;
                    width: 100%;
                    position: absolute;
                    background-color: rgb(255 255 255 / 10%);
                    top: 3rem;
                }

                & a {
                    padding: 13px 25px;
                    line-height: 23px;
                    font-size: 0.9rem;
                    font-weight: 500;
                    text-decoration: none;
                    text-transform: capitalize;
                    color: $color-white;
                    transition: color .3s ease-out;

                    &:hover {
                        color: $color-vibrantRed;
                        transition: color .1s ease-in;
                    }
                }
            }
        }

        &__mobileMenuIcon {
            cursor: pointer;
            position: absolute;
            right: 1.7rem;
            top: 1rem;
            transition: all 0.4s ease;

            &--active {
                transform: rotate(90deg) !important;
            }
        }

        &__mobileSubmenu {
            width: 100%;
            max-height: 0;
            overflow: hidden;
            transition: all 0.3s ease-out;

            &--active {
                max-height: 400px;
                transition: all 0.5s ease-in;
            }

            & .header__mobileMenu--item {
                & a {
                    padding-left: 3rem;
                }
            }
        }

        &__mobileSocials {
            display: none;
        }

        &__mobileUnderlay {
            position: fixed;
            right: 0;
            top: 0;
            width: 100%;
            height: 100%;
            z-index: 1;
            opacity: 0;
            background: #171d22;
            transition: all 700ms ease-out;
            visibility: hidden;

            &--active {
                visibility: visible;
                opacity: 0.80;
                transition: all 700ms ease-in;
            }
        }
    }
}

@media (max-width: 600px) {
    .header {
        &__socials {
            display: none;
        }

        &__wrapper {
            padding: 0 20px;
        }

        &__hamburger {
            display: block;
            padding-left: 0;
        }

        &__mobileSocials {
            @include display-flex(flex-start);
            padding: 1.7rem 0 0 1.4rem;
        }
    }
}