@media (max-width: 1400px) {
    .swiper {
        height: 300px;

        &__heading {  
            padding-left: 20px;
        }

        &__prev, &__next {
            font-size: 1.3rem;
            width: 45px;
            height: 45px;
        }
    }

    .swiper-slide {
        max-width: 409px !important;
        max-height: 230px;
        position: relative;
        border-radius: 10px;
    }

    .slidecard {
        &__title {
            font-size: 1rem;
            max-width: 390px;
        }
    
        &__genre {
            font-size: 0.82rem;
            max-width: 390px;
        }
    
        &__date {
            font-size: 1rem;
        }
        &__rating {
            padding: 0.1rem 0.55rem;
            font-size: 0.83rem;
    
            & svg {
                color: $color-darkRed;
                padding-bottom: 0.05rem;
            }
    
            & span {
                padding-top: 0.1rem;
            }
        }
    }

    .swiper-pagination {
        bottom: 1.5rem !important;
    }
    
    .movies {
        padding: 0 20px;
    }

    .moviecard { 
       height: 450px;

       &__wrapper {
        grid-template-rows: 77% auto;
    }

    &__title {
        font-size: 0.95rem;
    }

    &__genre {
        font-size: 0.7rem;
    }

    &__date {
        font-size: 0.9rem;
    }

    &__rating {
        font-size: 0.72rem;
        & svg {
            height: 11px;
        }
    }
    }

    .searchPage {
        padding: 0 20px;
    }

    .movieDetails  {
        &__wrapper {
            padding: 0 20px;
        }
        &__title {
            font-size: 2.3rem !important;
        }
        &__overview {
            margin-top: 1rem !important;
            font-size: 0.95rem !important;
        }
    
        &__genre, &__status, &__budget, &__revenue, &__website, &__imdb {
            font-size: 0.94rem !important;
        }

    }

    .movieCast, .moviePhotos {
        &__wrapper {
            padding: 0 20px;
        }
    }
}

@media (max-width: 1150px) {
    .movies {
        &__items {
            grid-template-columns: repeat(4, minmax(0, 1fr)) !important;
            column-gap: 1.5rem;
        }
    }
    .moviecard { 
        height: 430px;
    }

    .movieDetails  {
        &__title {
            font-size: 2.1rem !important;
        }

        &__date, &__runtime, &__rating {
            font-size: 1rem !important;
        }
        &__overview {
            font-size: 0.95rem !important;
        }
    
        &__genre, &__status, &__budget, &__revenue, &__website, &__imdb {
            font-size: 0.9rem !important;
        }
    }

    .moviePhotos {
        &__photo {
            width: 33.32%;
        }

        &__photo:nth-child(4), &__photo:nth-child(5) {
            padding-right: 8px;
        }
    
        &__photo:last-child, &__photo:nth-child(3), &__photo:nth-child(6) {
            padding-right: 0px;
        }
    }
}


@media (max-width: 900px) {
    .header {
        position: relative;

        &__menu {
            display: none;

            &--item {
                display: none;
            }
        }

        &__hamburger {
            display: block;
        }

        &__mobile {
            display: none;
            position: fixed;
            right: 0;
            top: 75px;
            width: 290px;
            padding-right: 30px;
            max-width: 100%;
            height: 100%;
            // border-top: 1px solid $color-white;
            animation-duration: 0.3s;
            z-index: 5;

            &--slideIn {
                display: block;
                animation-name: slideInRight;
              }
              
            &--slideOut {
                display: block;
                animation-name: slideOutRight;
                animation-fill-mode: forwards;
            }
        }

        &__mobileMenu {
            position: absolute;
            left: 0px;
            top: 0px;
            width: 100%;
            height: 100%;
            max-height: 100%;
            overflow-y: auto;
            overflow-x: hidden;
            background-color: #282D39;
            padding: 0px 0px;
            z-index: 5;

            &--list {
                padding-top: 1.5rem;
                flex-direction: column;
            }

            &--item {
                position: relative;
                @include display-flex(flex-start);
                align-items: flex-start;
                flex-direction: column;
                padding: 0;
                width: 100%;

                &::after {
                    content: '';
                    height: 1px;
                    width: 100%;
                    position: absolute;
                    background-color: rgb(255 255 255 / 10%);
                    top: 3rem;
                }

                & a {
                    padding: 13px 25px;
                    line-height: 23px;
                    font-size: 0.9rem;
                    font-weight: 500;
                    text-decoration: none;
                    text-transform: capitalize;
                    color: $color-white;
                    transition: color .3s ease-out;

                    &:hover {
                        color: $color-vibrantRed;
                        transition: color .1s ease-in;
                    }
                }
            }
        }

        &__mobileMenuIcon {
            cursor: pointer;
            position: absolute;
            right: 1.7rem;
            top: 1rem;
            transition: all 0.4s ease;

            &--active {
                transform: rotate(90deg) !important;
            }
        }

        &__mobileSubmenu {
            width: 100%;
            max-height: 0;
            overflow: hidden;
            transition: all 0.3s ease-out;

            &--active {
                max-height: 400px;
                transition: all 0.5s ease-in;
            }

            & .header__mobileMenu--item {
                & a {
                    padding-left: 3rem;
                }
            }
        }

        &__mobileSocials {
            display: none;
        }

        &__mobileUnderlay {
            position: fixed;
            right: 0;
            top: 0;
            width: 100%;
            height: 100%;
            z-index: 4;
            opacity: 0;
            background: #171d22;
            transition: all 700ms ease-out;
            visibility: hidden;

            &--active {
                visibility: visible;
                opacity: 0.60;
                transition: all 700ms ease-in;
            }
        }
    }

    .movies {
        &__items {
            grid-template-columns: repeat(3, minmax(0, 1fr)) !important;
            column-gap: 1.2rem !important;
        }
    }
    .moviecard { 
        height: 470px;
    }

    .searchModal {
        &__input {
            width: 450px;
        }
    }

    .movieDetails  {
        &__title {
            font-size: 2rem !important;
        }

        &__date, &__runtime, &__rating {
            font-size: 0.95rem !important;
        }
        &__overview {
            font-size: 0.9rem !important;
        }
    
        &__genre, &__status, &__budget, &__revenue, &__website, &__imdb {
            font-size: 0.9rem !important;
        }
    }

    .movieCast {
        &__content {
            & .swiper-slide {
                margin-right: 15px !important;
            }
        }
    }

    .moviePhotos {
        &__photo {
            width: 33.33%;
        }

        &__photo:nth-child(4){
            padding-right: 8px;
        }
    }
}

@media (max-width: 768px) {
    .movies {
        &__items {
            column-gap: 1rem !important;
        }
    }
    .moviecard { 
        height: 400px;
    }

    .movieDetails  {
        &__wrapper {
            grid-template-columns: 1fr !important;
        }
        &__poster {
            margin: auto;
            margin-bottom: 1rem;
            width: 300px !important;
            height: 450px !important;
        }
        &__title {
            font-size: 1.7rem !important;
            text-align: center;
            margin-bottom: 0.6rem;
        }
        
        &__overview {
            margin-top: 1.1rem !important;
        }

        &__info {
            justify-content: center !important;
            align-items: center;
        }
    }
}

@media (max-width: 600px) {
    .header {
        &__navbar {
            height: 70px;
        }

        &__mobile {
            top: 65px;
        }

        &__logo {
           & img {
            height: 26px;
            width: 92px;
           }
        }
        &__socials {
            display: none;
        }

        &__wrapper {
            padding: 0 20px;
        }

        &__hamburger {
            display: block;
            padding-left: 0;
        }

        &__mobileSocials {
            @include display-flex(flex-start);
            padding: 1.7rem 0 0 1.4rem;
        }
    }

    .swiper {
        &__heading {  
            & h1 {
                font-size: 1.25rem !important;

                &:before {
                    width: 110px;
                }
            }
        }
    
        &__prev, &__next {
            display: none;
        }
    }

    .swiper-pagination {
        bottom: 1.8rem !important;
    }

    .slidecard {
        &__rating {
            top: 1rem;
            right: 1.2rem;
            padding: 0.05rem 0.5rem;
            font-size: 0.75rem;

            & svg {
                padding-bottom: 0.02rem;
            }
        }
    }

    .moviecard { 
        margin-bottom: 2.5rem !important;
        height: 430px;
        &__wrapper {
            grid-template-rows: 78% auto;
        }
        &__title {
            font-size: 0.95rem;
        }
    
        &__genre {
            font-size: 0.77rem;
        }
    
        &__date {
            font-size: 0.9rem;
        }
    
        &__rating {
            font-size: 0.72rem;
            & svg {
                height: 11px;
            }
        }
    }

    .movies {
        &__items {
            grid-template-columns: repeat(2, minmax(0, 1fr)) !important;
        }
    
        &__heading {
            gap: 1.1rem !important;
        }
    
        &__title {
            position: relative;
            cursor: pointer;
            
            & h2  {
                font-size: 1.05rem !important;
                font-weight: 500;
            }
        }
    
        &__loadMore {
    
            &--button {
                background-color: $color-darkRed;
                color: $color-light;
                padding: 0.6rem 1.4rem !important;
                font-size: 0.75rem !important;
              }
            
        }
    
        &__isloading {
            justify-content: center;
            position: absolute;
            top: 10rem;
            left: 0; 
            right: 0; 
            margin-left: auto; 
            margin-right: auto;
        }
    }

    .searchModal {
        &__input {
            width: 85%;
            font-size: 1.7rem;
            padding-left: 10px;
        }

        &__button {
            right: 40px;
            font-size: 27px;
        }
    }

    .searchPage {
        &__heading {
            font-size: 1.3rem;
        }
    }

    .movieCast {
        &__heading {
            font-size: 1.5rem;

            &::after {
                height: 17px;
                left: 4.3rem;
                top: 0.57rem !important;
            }

            &--link a {
                margin-left: 1.4rem;
                font-size: 1.2rem;
    
                & svg {
                    font-size: 1rem;
                    margin-left: 0.3rem;
                    margin-bottom: 0.2rem;
                }
            }
        }

        &__content {
            & .swiper-slide {
                width: 110px;
                margin-right: 15px !important;
            }
        }

        &__image {
            width: 110px;
            height: 165px;
        }

        &__details {
            margin-bottom: 0rem;
         }

        &__name {
            font-size: 0.82rem;
        }

        & .swiper-pagination {
            bottom: 0.4rem !important;
        }
        
    }

    .moviePhotos {
        &__heading {
            font-size: 1.5rem;

            &::after {
                height: 17px;
                left: 5.85rem;
                top: 0.57rem !important;
            }

            &--link a {
                margin-left: 1.4rem;
                font-size: 1.2rem;
    
                & svg {
                    font-size: 1rem;
                    margin-left: 0.3rem;
                    margin-bottom: 0.2rem;
                }
            }
        }

        &__photo {
            width: 50%;
        }

        &__photo:nth-child(2), &__photo:nth-child(4), &__photo:nth-child(6), &__photo:nth-child(8){
            padding-right: 0;
        }
    
        &__photo:nth-child(3) {
            padding-right: 8px;
        }
    }
    
}

@media (max-width: 450px) {
    .swiper-slide {
        max-width: 340px !important;
        max-height: 200px;
    }

    .slidecard {
        &__title {
            font-size: 1rem;
            max-width: 300px;
        }
    
        &__genre {
            font-size: 0.71rem;
            max-width: 300px;
        }
    
        &__date {
            font-size: 1rem;
        }
        &__rating {
            padding: 0.1rem 0.55rem;
            font-size: 0.83rem;
    
            & svg {
                color: $color-darkRed;
                padding-bottom: 0.05rem;
            }
    
            & span {
                padding-top: 0.1rem;
            }
        }
    }

    .swiper-pagination {
        bottom: 3.8rem !important;
    }

    .upcoming {
        &__navigation {
            gap: 0.9rem;
        }
        &__page {
            font-size: 0.95rem;
        }
        &__arrows {
            padding: 0 7px;
            gap: 1.4rem;
        }

        &__swiper {
            height: 450px !important;
        }
    
         &__SwiperSlide {
            width: 175px !important;
            margin-right: 17px !important;
         }
    }
   
    .movies {
        &__items {
            grid-template-columns: repeat(2, minmax(0, 1fr)) !important;
        }
    }
    .moviecard { 
        height: 350px;
        &__wrapper {
            grid-template-rows: 73% auto;
        }
        &__title {
            font-size: 0.9rem;
        }
    
        &__genre {
            font-size: 0.72rem;
        }
    
        &__date {
            font-size: 0.9rem;
        }
    
        &__rating {
            font-size: 0.7rem;
            & svg {
                height: 11px;
            }
        }
    }

    .movieDetails {
        &__title {
            font-size: 1.6rem !important;
        }

        &__date, &__runtime, &__rating {
            margin-top: 0.3rem !important;
            font-size: 0.9rem !important;

            & span {
                font-size: 0.95rem !important;
            }
        }

        &__overview {
            font-size: 0.85rem !important;
        }
    
        &__genre, &__status, &__budget, &__revenue, &__website, &__imdb {
            font-size: 0.85rem !important;
            padding: 0.7rem 0 !important;
        }
    }
}

@media (max-width: 350px) {
    .movieDetails  {
        &__poster {
            width: 100% !important;
            height: 400px !important;
        }
        &__date, &__runtime, &__rating {
            font-size: 0.95rem !important;
        }
        &__overview {
            font-size: 0.9rem;
        }
        &__otherInfo {
            margin-top: 1rem !important;
        }
    
        &__genre, &__status, &__budget, &__revenue, &__website, &__imdb {
            font-size: 0.85rem !important;
            padding: 0.7rem 0 !important;
        }
    }
}