@media (max-width: 1400px) {
    .swiper {
        height: 300px;

        &__heading {  
            padding-left: 20px;
        }

        &__prev, &__next {
            font-size: 1.3rem;
            width: 45px;
            height: 45px;
        }
    }

    .swiper-slide {
        max-width: 409px !important;
        max-height: 230px;
        position: relative;
        border-radius: 10px;
    }

    .slidecard {
        &__title {
            font-size: 1rem;
            max-width: 390px;
        }
    
        &__genre {
            font-size: 0.82rem;
            max-width: 390px;
        }
    
        &__date {
            font-size: 1rem;
        }
        &__rating {
            padding: 0.1rem 0.55rem;
            font-size: 0.83rem;
    
            & svg {
                color: $color-darkRed;
                padding-bottom: 0.05rem;
            }
    
            & span {
                padding-top: 0.1rem;
            }
        }
    }

    .swiper-pagination {
        bottom: 1.5rem !important;
    }

    .upcoming {
     padding: 0 20px;

     &__swiper {
        height: 520px !important;
    }

     &__SwiperSlide {
        width: 220px !important;
     }

     .swiper-pagination {
        bottom: 3.5rem !important;
    }
    }

    .moviecard {
        height: 330px;

        &__image {
            height: 330px;
        }

        &__image img {
            height: 330px !important;
        }

        &__title {
            font-size: 0.95rem;
        }
    
        &__genre {
            font-size: 0.74rem;
        }
    
        &__date {
            font-size: 0.9rem;
        }
    
        &__rating {
            font-size: 0.75rem;
    
            & svg {
                height: 10px;
            }
        }
    }
}


@media (max-width: 900px) {
    .header {
        position: relative;

        &__menu {
            display: none;

            &--item {
                display: none;
            }
        }

        &__hamburger {
            display: block;
        }

        &__mobile {
            display: none;
            position: fixed;
            right: 0;
            top: 75px;
            width: 290px;
            padding-right: 30px;
            max-width: 100%;
            height: 100%;
            // border-top: 1px solid $color-white;
            animation-duration: 0.3s;
            z-index: 5;

            &--slideIn {
                display: block;
                animation-name: slideInRight;
              }
              
            &--slideOut {
                display: block;
                animation-name: slideOutRight;
                animation-fill-mode: forwards;
            }
        }

        &__mobileMenu {
            position: absolute;
            left: 0px;
            top: 0px;
            width: 100%;
            height: 100%;
            max-height: 100%;
            overflow-y: auto;
            overflow-x: hidden;
            background-color: #282D39;
            padding: 0px 0px;
            z-index: 5;

            &--list {
                padding-top: 1.5rem;
                flex-direction: column;
            }

            &--item {
                position: relative;
                @include display-flex(flex-start);
                align-items: flex-start;
                flex-direction: column;
                padding: 0;
                width: 100%;

                &::after {
                    content: '';
                    height: 1px;
                    width: 100%;
                    position: absolute;
                    background-color: rgb(255 255 255 / 10%);
                    top: 3rem;
                }

                & a {
                    padding: 13px 25px;
                    line-height: 23px;
                    font-size: 0.9rem;
                    font-weight: 500;
                    text-decoration: none;
                    text-transform: capitalize;
                    color: $color-white;
                    transition: color .3s ease-out;

                    &:hover {
                        color: $color-vibrantRed;
                        transition: color .1s ease-in;
                    }
                }
            }
        }

        &__mobileMenuIcon {
            cursor: pointer;
            position: absolute;
            right: 1.7rem;
            top: 1rem;
            transition: all 0.4s ease;

            &--active {
                transform: rotate(90deg) !important;
            }
        }

        &__mobileSubmenu {
            width: 100%;
            max-height: 0;
            overflow: hidden;
            transition: all 0.3s ease-out;

            &--active {
                max-height: 400px;
                transition: all 0.5s ease-in;
            }

            & .header__mobileMenu--item {
                & a {
                    padding-left: 3rem;
                }
            }
        }

        &__mobileSocials {
            display: none;
        }

        &__mobileUnderlay {
            position: fixed;
            right: 0;
            top: 0;
            width: 100%;
            height: 100%;
            z-index: 4;
            opacity: 0;
            background: #171d22;
            transition: all 700ms ease-out;
            visibility: hidden;

            &--active {
                visibility: visible;
                opacity: 0.60;
                transition: all 700ms ease-in;
            }
        }
    }

    .upcoming {
        &__arrows {
            padding: 3px 13px;
            gap: 1.6rem;
        }
    }
}

@media (max-width: 600px) {
    .header {
        &__navbar {
            height: 70px;
        }

        &__mobile {
            top: 65px;
        }

        &__logo {
           & img {
            height: 26px;
            width: 92px;
           }
        }
        &__socials {
            display: none;
        }

        &__wrapper {
            padding: 0 20px;
        }

        &__hamburger {
            display: block;
            padding-left: 0;
        }

        &__mobileSocials {
            @include display-flex(flex-start);
            padding: 1.7rem 0 0 1.4rem;
        }
    }

    .swiper {
        &__heading {  
            & h1 {
                font-size: 1.25rem !important;

                &:before {
                    width: 110px;
                }
            }
        }
    
        &__prev, &__next {
            display: none;
        }
    }

    .swiper-slide {
        max-width: 350px !important;
        max-height: 197px;
    }

    .swiper-pagination {
        bottom: 3.5rem !important;
    }

    .slidecard {
        &__rating {
            top: 1rem;
            right: 1.2rem;
            padding: 0.05rem 0.5rem;
            font-size: 0.75rem;

            & svg {
                padding-bottom: 0.02rem;
            }
        }
    }

    .upcoming {
        & h1 {
            font-size: 1.25rem !important;
        }   
       
        &__arrows {
            padding: 3px 10px;
            gap: 1.6rem;
        }
    }
    
}

@media (max-width: 450px) {
    .swiper-slide {
        max-width: 320px !important;
        max-height: 180px;
    }

    .slidecard {
        &__title {
            font-size: 1rem;
            max-width: 300px;
        }
    
        &__genre {
            font-size: 0.71rem;
            max-width: 300px;
        }
    
        &__date {
            font-size: 1rem;
        }
        &__rating {
            padding: 0.1rem 0.55rem;
            font-size: 0.83rem;
    
            & svg {
                color: $color-darkRed;
                padding-bottom: 0.05rem;
            }
    
            & span {
                padding-top: 0.1rem;
            }
        }
    }

    .swiper-pagination {
        bottom: 4.7rem !important;
    }

    .upcoming {
        &__arrows {
            display: none;
        }

        &__swiper {
            height: 450px !important;
        }
    
         &__SwiperSlide {
            width: 175px !important;
            margin-right: 17px !important;
         }
    }
   
       .moviecard {
           height: 255px;
   
           &__image {
               height: 255px;
           }
   
           &__image img {
               height: 255px !important;
           }
   
           &__title {
               font-size: 0.85rem;
           }
       
           &__genre {
               font-size: 0.65rem;
           }
       
           &__date {
               font-size: 0.83rem;
           }
       
           &__rating {
               font-size: 0.7rem;
               gap: 0.2rem;
       
               & svg {
                   height: 10px;
               }
           }
       }
}