.searchModal {
    position: fixed;
    height: 100%;
    width: 100%;
    background: rgb(23 26 33 / 94%);
    z-index: 10;
    animation-name: fadeIn;
    animation-duration: 0.2s;
    animation-timing-function: ease-in;
    
    &__wrapper {
        @include display-flex(center);
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        top: 40%;
        left: 0;
        right: 0;
        text-align: center;
        animation-name: fadeIn;
        animation-duration: 0.5s;
        animation-timing-function: ease-in;
    }

    &__content {
        position: relative;
    }

    &__input {
        background: transparent;
        border: none;
        border-bottom: 2px solid rgba(255, 255, 255, 0.329);
        color: $color-white;
        font-size: 2rem;
        width: 600px;
        padding: 0 55px 10px 14px;
        z-index: 1;

        &::placeholder {
            color: rgba(255, 255, 255, 0.164);
        }

        &:focus {
            outline: none;
        }
    }

    &__button {
        position: absolute;
        right: 15px;
        margin-bottom: 0;
        font-size: 30px;
        background: 0 0;
        border: none;
        cursor: pointer;
        color: $color-vibrantRed;
        top: 5px;

        &:hover {
            color: $color-darkRed;
        }
    }
}