.slidecard {
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

    &__image {
        position: absolute;
        height: 100%;
        width: 100%;
        z-index: -1;
        border-radius: 10px;
        mask-image: linear-gradient(rgb(0, 0, 0) 0%, rgb(0, 0, 0) 50%, rgba(0, 0, 0, 0.25) 100%, rgba(0, 0, 0, 0) 100%);

        & img {
            object-fit: cover;
            transition: all 0.5s;
        }
    }
    
    &:hover img{
        transform: scale(1.1);
        filter: brightness(70%);
    }

    &:hover .slidecard__rating {
        opacity: 1;
    }

    &__details {
        padding: 0 1rem
    }

    &__rating {
        @include display-flex(center);
        gap: 0.2rem;
        background-color: #ffffff52;
        padding: 0.05rem 0.6rem;
        position: absolute;
        top: 1.5rem;
        right: 1.5rem;
        border-radius: 10px;
        font-size: 0.83rem;
        opacity: 0;
        transition: opacity 0.5s;

        & svg {
            color: $color-darkRed;
            padding-bottom: 0.05rem;
        }

        & span {
            padding-top: 0.1rem;
        }
    }

    &__title {
        position: absolute;
        font-size: 1.2rem;
        font-weight: 500;
        bottom: 2.5rem;
        max-width: 460px;
        color: $color-white;
        opacity: 0.95;
    }

    &__genre {
        @include display-flex(space-between);
        position: absolute;
        gap: 1.3rem;
        font-size: 0.82rem;
        font-weight: 300;
        bottom: 1.1rem;
        max-width: 460px;
        color: $color-light;
        opacity: 0.8;
    }

    &__date {
        display: none;
        font-size: 0.95rem;
    }
}