*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    font-family: 'Poppins', sans-serif;
    line-height: 1.5;
    letter-spacing: 0.005em;
    background-color: $color-background;
    width: 100%;
    margin: 0px;
    padding: 0px;
    color: $color-white;
    box-sizing: border-box;
    overflow-x: hidden;
    min-height:100vh;
}